.reference-table {
    width: 100%;
    border-collapse: collapse;
    /* margin: 20px 0; */
    font-size: 14px;
    text-align: left;

  }
  
  .reference-table td {
    /* padding: 10px; */
    /* padding-top: 10px; */
    padding-bottom: 10px;
    padding-right: 5px;
    vertical-align: middle;
    /* border: 1px solid red; */
  }
  
  .reference-table label {
    /* font-weight: bold; */
    color: #333;
  }
  
  .reference-table .datepicker {
    width: 150px;
  }
  
  .reference-table .small-input {
    width: 80px;
  }
  

  
  /* .reference-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .reference-table tr:hover {
    background-color: #f1f1f1;
  } */

  .checkbox-container {
    margin: 20px 0;
  }
  
  .checkbox-group {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .checkbox-group-legend {
    font-size: 16px;
    font-weight: bold;
    color: #4CAF50; /* สีเขียว */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-group .ant-checkbox-wrapper {
    display: block;
    margin-bottom: 8px;
  }

  .tb_letter .ant-table-thead > tr > th {
    background-color: #BDB395; /* Green header */
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
  }
  
  .tb_letter .ant-table-tbody > tr > td {
    font-family: "Varela Round", sans-serif;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Row separator */
  }
  
  .tb_letter .ant-table-tbody > tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .tb_letter .ant-table-pagination {
    margin-top: 10px;
    text-align: center;
  }
  
  .tb_letter .ant-table-tbody > tr > td:first-child {
    font-weight: bold; /* Highlight first column */
  }
  
  .SearchLetter td {
    padding-top: 7px;
  }

  .scrollable-columnLetter {
    /* border: 1px solid #ddd; */
    max-width: 200px;
    overflow-x: auto;
    white-space: nowrap;
    /* text-align: left; */
  }