.TB_ForApp td{
    /* border: 1px solid red; */
    /* margin:10px ; */
    /* margin-left: 60px; */
    /* margin-right: 10px;
    margin-top: 10px; */
}

.TB_ForApp {
    /* border: 1px solid red; */
    /* margin:10px ; */
    margin-left: 40px;
    /* margin-right: 10px;
    margin-top: 10px; */
}
.result-container {
    margin: 10px;
    width: '10px';
    border: 2px solid #4c534c; /* Green border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    background-color: #f9f9f9; /* Light grey background */
  }

